.form {
  height: 90vh;
  width: 600px;
  margin: auto;
  padding-top: 10px;
  background-color: #292828;

  text-align: center;
  color: white;
}

.form h1 {
  color: #ed5941;
}

.form h1 {
  padding-top: 20px;
}

.form label {
  color: #ed5941;
  font-size: 30px;
}

.form input {
  width: 90%;
  font-size: 2em;
  border-radius: 5px;
  border-width: 0px;
}

.form input[type="file"] {
  font-size: 1em;
}

.form select {
  width: 90%;
  font-size: 2em;
}
.form label {
  display: block;
}

.form button {
  margin-top: 20px;
  width: 30%;
  font-size: 1em;
  border-radius: 5px;
}

textarea {
  width: 90%;
  font-size: 2em;
  border-radius: 5px;
  border-width: 0px;
}
