.user-page {
  padding-top: 50px;
}

.info-card {
  width: 100%;
  padding-top: 20px;
  display: flex;
}

.user-card {
  position: relative;
  text-align: center;
  width: 33%;
  height: 33%;
}

.pic-card {
  display: inline;
  position: relative;
  text-align: center;
  width: 33%;
  height: 33%;
}

.profile_pic {
  display: inline;
  border-radius: 50%;
  width: 200px;
}

.user-info h2 {
  color: #ed5941;
}
.user-info a {
  color: white;
}

.user-info a:hover {
  color: #ed5941;
}

.user-inbox {
  position: relative;
  text-align: center;
  width: 33%;
  height: 33%;
}

.user-inbox h2 {
  color: #ed5941;
  position: relative;
}

.title {
  color: #ed5941;
  display: inline;
  font-weight: bold;
}

.inline {
  color: white;
  display: inline;
}

.lines {
  margin: 15px;
}

.offers-lines {
  overflow: scroll;
  height: 200px;
}

.offers-lines a {
  color: white;
  text-decoration: none;
}

.my-itens {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
